[submodule "pypaftol"]
	path = pypaftol
	url = https://github.com/RBGKew/pypaftol.git
[submodule "PhylogenomicsPipelines"]
	path = PhylogenomicsPipelines
	url = https://github.com/baileyp1/PhylogenomicsPipelines.git
[submodule "PAFTOL_Validation_Pipeline"]
	path = PAFTOL_Validation_Pipeline
	url = https://github.com/RBGKew/PAFTOL_Validation_Pipeline.git
